<div class = "container">
    <footer clas = "footer">
        <small>
            Copyright &copy; Puneet Srivastva learning Ruby 
        </small>
        <nav>
            <ul>
                <li> <%= link_to "About", pages_about_path %></li>
            </ul>
        </nav>
    </footer>
</div>